.category-container {
  padding: 16px;
  width: 47%;
  height: 52px;
  background-color: #d9d9d946;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.category-title {
  text-align: center;
  font-weight: var(--font-weight-regular);
  text-wrap: nowrap;
}

.category-container i {
  font-size: 14px;
  opacity: 75%;
  line-height: 20px;
}
