#categories-container {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: 58px;
  padding-left: 24px;
  padding-bottom: 24px;
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

#movies-container {
  padding: 0 24px;
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-between;
  
}

.trendMovie-container {
  margin-right: 0;
}
