.carouselCategories-container {
  margin-top: 24px;
}

.pagination-container {
  display: flex;
  align-items: center;
  gap: 16px;
  max-width: fit-content;
  margin: 0 auto;
}


.btnPage {
  background-color: var(--light-color);
  padding: 8px 10px;
}