#categories-container {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 16px 0 16px 8px;
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  gap: 12px;
}

#movies-container {
  margin-top: 24px;
  margin-bottom: 36px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  width: 100%;  
}

.trendMovie-container {
  margin-right: 0;
}

@media (min-width: 768px) {

  #categories-container::-webkit-scrollbar {
    height: 8px;
  }
  
  #categories-container::-webkit-scrollbar-track {
    background: var(--light-color); 
  }
   
  #categories-container::-webkit-scrollbar-thumb {
    background: var(--light-color); 
    border-radius: 5px;
  }
  
  #categories-container::-webkit-scrollbar-thumb:hover {
    background: var(--white); 
  }
}