.trendMovie-container {
  display: inline-block;
  margin-right: 16px;
  cursor: pointer;
  transition: transform 0.3s;
}

.trendMovie-container:hover {
  transform: scale(0.95);
}


.movieImg-container {
  aspect-ratio: 1 / 1.5;
}

.movie-img {
  border-radius: 12px;
}


.movieDetails-container {
  margin-top: 4px;
}

.movieScore,
.movieYear,
.star {
  display: inline;
  font-size: 12px;
}

.movieYear {
  padding-left: 16px;
}

.movieName {
  text-overflow: ellipsis;
  text-wrap: nowrap;
  overflow: hidden;
  max-width: 120px;
}

.star {
  color: #e0b20f;
}
