.categories-container {
  padding: 0 24px;
  margin-top: 52px;
}

.categories-list {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  width: 100%;
}

.categories-title {
  margin-bottom: 24px;
}

.a-container {
  width: 100%;

}
