.categories-container {
  margin-top: 52px;
  transition: transform 0.3s;
}

.categories-list {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  width: 100%;
}

.categories-title {
  margin-bottom: 24px;
}

.a-container {
  width: 100%;
  transition: background-color 200ms;
}

.a-container:focus {
  background-color: var(--blue-dark);
}


