.recommendedMovie-container {
  margin: 0 auto;
}

.recommendedMovie-container .movieImg-container {
  aspect-ratio: 1 / 1.5;
  max-height: 40vh;
  margin: 0 auto;
}

.recommendedMovie-container .movieInfo-headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.recommendedMovie-container .recommendedMovie-name {
  font-size: 20px;
  max-width: 250px;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  overflow: hidden;
}

.recommendedMovie-container .recommendedMovie-score {
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 20px;
}

.recommendedMovie-container .recommendedMovie-score .star {
  font-size: 16px;
}

.recommendedMovie-container .movieTagline {
  font-size: 14px;
  font-weight: var(--font-weight-extraLight);
  margin-top: 16px;
}

.recommendedMovie-container .detailsMovie-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 16px;
  align-items: center;
}

.recommendedMovie-container .watchProviders-container {
  display: flex;
  gap: 8px;
}

.recommendedMovie-container .watchProvider-logoContainer {
  height: 20px;
  width: 20px;
}

.recommendedMovie-container .watchProvider-img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

@media (min-width: 768px) {
    .recommendedMovie-container  {
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  .recommendedMovie-container .movieImg-container {
    max-height: 25vh;
    margin: 0;
  }

  .recommendedMovie-container .movieInfo-headerContainer {
    gap: 36px;
  }

  .recommendedMovie-container .recommendedMovie-name {
    max-width: fit-content;
  }


}
