.recommend-container {
  padding: 0 24px;
  margin: 10vh 0;
}

.welcome-text {
  font-size: 36px;
  font-weight: var(--font-weight-extraLight);
  margin: 0 45px;
  text-align: center;
  padding: 24px 0;
}

.fontWeigth-medium {
  font-weight: var(--font-weight-medium);
}

.recommend-category-title {
  margin-bottom: 24px;
}

#recommend-btn {
  width: 100%;
  margin-top: 16px;
  font-size: 16px;
}
