.recommend-container {
  height: calc(100vh - 170px);
  padding: 0 24px;
  margin-top: 45px;
}

.welcome-text {
  font-size: 36px;
  font-weight: var(--font-weight-extraLight);
  margin: 0 45px;
  text-align: center;
  padding-top: 64px;
}

.fontWeigth-medium {
  font-weight: var(--font-weight-medium);
}

.recommend-category-title {
  margin-bottom: 24px;
}

#recommend-btn {
  width: 100%;
  margin-top: 36px;
  font-size: 16px;
}
