.detailPage-container {
  min-height: 100vh;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.detailMovie-container {
  background: linear-gradient(#b9b9b9c2, #3e505b);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 25px 25px 0 0;
  padding: 24px;
  margin: 0 -24px;
  margin-top: 45vh;
  box-shadow: 12px -12px 16px rgba(54, 54, 54, 0.13);
}

.header-detailPage {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.movie-title {
  font-weight: var(--font-weight-medium);
  font-size: 24px;
}

.movie-score {
  font-weight: 100;
  font-size: 36px;
  display: flex;
  text-wrap: nowrap;
  align-items: center;
  gap: 3px;
}

.large-star {
  font-size: 30px;
  color: #e9bc19;
}

.short-description {
  font-weight: var(--font-weight-extraLight);
  font-size: 16px;
  margin-top: 16px;
}

.movie-description {
  font-size: 16px;
  font-weight: var(--font-weight-regular);
  margin-top: 16px;
}

.movie-categories-container {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  margin-top: 24px;
}

.movie-category {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-icon {
  margin-right: 4px;
}

.watchProviders-container {
  display: flex;
  gap: 8px;
  margin-top: 8px;
}

.watchProvider-logoContainer {
  height: 25px;
  width: 25px;
}

.watchProvider-img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

@media (min-width: 768px) {
  .detailMovie-container {
    background: linear-gradient(#b9b9b9c2, #b9b9b9c2);
    margin: 0;
    margin-top: 36px;
    border-radius: 25px;
    padding: 57px;
  }

  .detailPage-container {
    background-size: cover;
    background-position: center center;
  }

  .posterImg-container {
    aspect-ratio: 1 / 1.5;
    width: 20%;
    flex-shrink: 0;
  }

  .posterImg {
    border-radius: 15px;
  }

  .info-section {
    display: flex;
    gap: 24px;
  }

  
}
