.detailPage-container {
  height: 100vh;
  width: 100vw;
  background-size: contain;
  background-repeat: no-repeat;
}

.detailMovie-container {
  padding: 0 24px;
  margin-top: 50vh;
  background: linear-gradient(#d9d9d991 60%, #d9d9d941);
  backdrop-filter: blur(4px);
  border-radius: 25px 25px 0 0;
  box-shadow: 12px -12px 16px rgba(54, 54, 54, 0.021);
}

.header-detailPage {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  padding-top: 24px;
}

.movie-title {
  font-weight: var(--font-weight-medium);
  font-size: 24px;
}

.movie-score {
  font-weight: var(--font-weight-extraLight);
  font-size: 32px;
  text-wrap: nowrap;
}

.large-star {
  font-size: 24px;
  color: #e9bc19;
}

.short-description {
  font-weight: var(--font-weight-extraLight);
  font-size: 16px;
  margin-top: 16px;
}

.movie-description {
  font-size: 16px;
  font-weight: var(--font-weight-regular);
  margin-top: 16px;
}

.movie-categories-container {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  margin-top: 24px;
}

.movie-category {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-icon {
  margin-right: 4px;
}

.watchProviders-container {
  display: flex;
  gap: 8px;
  margin-top: 16px;
}

.watchProvider-logoContainer {
  height: 25px;
  width: 25px;
}

.watchProvider-img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
