.containerButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}

.categoryBtn {
  background-color: transparent;
  border: 1px solid var(--white);
}

.categoryBtn:hover {
  background-color: var(--light-color);
  border: none;
}
