.similarMoviesSection-container {
  margin-top: 36px;
}

.similarMovies-text {
  font-size: 18px;
  margin-bottom: 16px;
}


@media (min-width: 768px) {
  .similarMoviesSection-container {
    margin: 0;
  }

  .similarMovies-text {
    margin-top: 36px;
  }
}