.similarMoviesSection-container {
  margin-top: 36px;
}

.similarMovies-text {
  font-size: 18px;
}

.similarMovies-container {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding-bottom: 16px;
  margin: 16px 0;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.similarMovies-container .trendMovie-container {
  flex-shrink: 0;
  max-width: 120px;
}

@media (min-width: 768px) {
  .similarMoviesSection-container {
    margin: 0;
  }

  .similarMovies-text {
    margin-top: 36px;
  }

  .similarMovies-container::-webkit-scrollbar {
    height: 8px;
  }
  
  .similarMovies-container::-webkit-scrollbar-track {
    background: var(--light-color); 
  }
   
  .similarMovies-container::-webkit-scrollbar-thumb {
    background: var(--light-color); 
    border-radius: 5px;
  }
  
  .similarMovies-container::-webkit-scrollbar-thumb:hover {
    background: var(--white); 
  }


}