#header {
  padding: 40px 24px 0;
}

.header-backBtn {
  font-size: 18px;
  padding: 2px 8px;
  margin-right: 8px;
  border-radius: 15px;
  transition: background-color 0.5s;
}

.header-backBtn:active {
  background-color: var(--light-color);
}

#header-title {
  font-family: var(--font-family-titles);
  font-weight: var(--font-weight-light);
  display: inline;
}

#header-searchForm {
  background-color: var(--light-color);
  border-radius: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

#header-searchForm:focus-within {
  background-color: var(--blue-dark);
}

input::placeholder {
    color: var(--white);
    font-family: var(--font-family-text);
  }

#input-btn {
  background-color: transparent;
  padding: 0 16px;
  border-radius: 0 20px 20px 0;
  height: 100%;
}

#input-searchForm {
  width: 100%;
  background-color: transparent;
  color: var(--white);
  border: none;
  border-radius: 20px 0 0 20px;
  font-size: 18px;
  font-weight: var(--font-weight-light);
  padding: 8px 8px 8px 16px;
}

#input-searchForm:focus {
  outline: none;
}

.a-inputBtn-container {
  min-height: 37px;
}